@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'colfaxteste', sans-serif;
    background-color: #FAFAFC;
}
@font-face{
    font-family: 'colfaxteste';
    src: url('./fonts/ColfaxAIRegular.woff') format('woff');
    font-bold:700;
    font-weight: 200;
}

