@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'colfaxteste', sans-serif;
    background-color: #FAFAFC;
}
@font-face{
    font-family: 'colfaxteste';
    src: url('./fonts/ColfaxAIRegular.woff') format('woff');
    font-bold:700;
    font-weight: 200;
}

input[type="text"]:focus ~ .input-text{
    @apply text-[#10a37f] bg-[#fff] transform -translate-y-9 -translate-x-4;
}

input[type="password"]:focus ~ .input-text{
    @apply text-[#10a37f] bg-[#fff] transform -translate-y-9 -translate-x-4;
}

